<section data-track-content>
  <h1 id="what-is-hellovote" data-content-name="what-is-hello-vote">¿Que es HelloVote?</h1>
  <p>
    HelloVote es un chat bot que le ayuda a registrarse para votar! Con solo introducir su número en esta página o enviando el texto
    <span class="sms-keyword">HOLA</span> por SMS al
    <a href="sms://384387">384-387</a> HelloVote lo guía a través del proceso para llenar el formulario de registro de votantes para su estado. ¡Es tan sencillo como enviar un par de mensajes de texto! (Pueden aplicar tarifas de mensajes y datos. Para detener todos los mensajes, envíe el texto STOP a 384-387).
  </p>

  <p>
    <a href="#" class="button get-started" data-content-name="faq-get-started" data-track-content>Empieza ahora</a>
    <a href="https://m.me/hellovote" class="button facebook-messenger" data-content-name="faq-facebook-messenger" data-track-content>Empieza por Facebook</a>
  </p>
</section>

<section data-track-content>
  <h2 id="how-does-this-work" data-content-name="how-does-this-work">¿Como funciona?</h2>
  <div class="video">
    <div class="wrapper"><iframe src="https://www.youtube.com/embed/iIRMXnIRwIM?modestbranding=1&rel=0" frameborder="0" allowfullscreen></iframe></div>
  </div>
  <p>
    HelloVote le hara una serie de preguntas por mensaje de texto o Facebook Messenger, para ayudarle a registrarse para votar. En varios estados, sus respuestas se someten directamente a los formularios en línea del estado, por lo cual no hay formas de papel para llenar. (Ningún otro servicio hace que sea tan fácil y rápido.) En otros estados, se le enviará un formulario rellenado por correo electrónico o - si usted no tiene una impresora - por correo. Incluimos un sobre sellado, y sólo tiene que firmar y enviarlo por correo para completar su registro.
  </p>
  <p>
    También proporcionamos enlaces al sistema de registro en línea de su estado, si tienen uno. (Algunos estados tienen páginas web que no son compatibles con aparatos móviles, así que en esos casos, puede ser más sencillo enviarlo por correo.)
  </p>
  <p>
    Antes de enviar su registro, HelloVote le dará la oportunidad de verificar que la información que ingresó es correcta. No proporcione información falsa, ya que en su estado eso puede considerarse un delito.
  </p>
</section>

<section data-track-content>
  <h2 id="why-is-this-useful" data-content-name="why-is-this-useful">¿Por qué es esto útil?</h2>
  <p>
    Creemos que votar debe ser lo más fácil y más accesible posible. HelloVote hace que el proceso de inscripción para votar sea lo más fácil posible, eliminando todas las barreras. Es rápido. Es 100% no partidista. Usted no necesita una impresora. No necesita un computadora. No es necesario tener sellos para enviar cosas por correo. Ni siquiera necesita un teléfono inteligente - ¡cualquier teléfono móvil funciona con HelloVote! Con tanto en juego en las próximas elecciones, es crucial que todos los votantes elegibles se presenten y emitan su voto en noviembre. ¿Ya esta registrado? Por favor, comparta esta página (o nuestro código corto 384-387) y ¡ayuden a que se registren sus amigos!
  </p>
  <p>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.hellovote.org" class="facebook">Compartir</a>
    <a href="https://twitter.com/intent/tweet?text=http%3A%2F%2Fwww.hellovote.org" class="twitter">Tweet</a>
  </p>
</section>

<section data-track-content>
  <h2 id="is-hellovote-private" data-content-name="is-hellovote-private">¿Es privado HelloVote?</h2>
  <p>
    HelloVote fue creado por
    <a href="https://www.fightforthefuture.org">Fight for the Future</a> y su
    <a href="https://www.fftfef.org">Fondo de Educación</a>,
    que son organizaciones sin fin de lucro que defienden los derechos digitales. Tomamos en serio su privacidad y nunca haríamos nada inapropiado con su información.
  </p>
  <p>
    <strong>Para más detalles, consulte nuestra <a href="/privacy">Política de Privacidad</a> y <a href="/terms">Términos de Uso.</a></strong>
  </p>
</section>

<section data-track-content>
  <h2 id="need-help" data-content-name="need-help">¿Necesita ayuda?</h2>
  <p>
    Si usted tiene cualquier problema o sugerencia, por favor utilice
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd6dYLxLhnyv_bq734QmXP-TV4WQkMo2dX8mOhF4NJ5dMIXqw/viewform">nuestro formulario de comentarios</a>.
    ¡Trataremos de ayudarle lo más pronto posible! Si usted necesita ayuda con nuestro chat SMS, también puede llamar gratis al
    <a href="tel://18443443556">844-344-3556</a>.
  </p>
</section>
