<div class="chat">
  <div class="flex">
    <div class="logos">
      <img src="/images/logo.svg" class="logo">
      <img src="/images/fftf-footer-logo.png" class="partner_logo">
    </div>
    <div id="messages">
      <div class="dots"><div><div></div></div><div><div></div></div><div><div></div></div></div>
    </div>
    <div class="disclosure">
      <img src="/images/lock.svg">
      <em>It's private, secure, and built by a nonprofit.</em>
      <a href="#">Learn more</a>
    </div>
    <div class="input">
      <form>
        <input type="text" id="phone_number" placeholder="Enter phone number">
        <button type="submit">Text Me</button>
      </form>
    </div>

  </div>
</div>
