<div class="chat">
  <div class="flex">
    <div class="logos">
      {% include partners/{{ page.partner }}.html %}
    </div>
    <div id="messages">
      <div class="dots"><div><div></div></div><div><div></div></div><div><div></div></div></div>
    </div>
    <div class="input">
      <form>
        <input type="tel" id="phone_number" placeholder="">
        <button type="submit">&nbsp;</button>
      </form>
      <div class="share"><a href="#" class="facebook">&nbsp;</a><a href="#" class="twitter">&nbsp;</a><a href="https://donate.fightforthefuture.org?tag=hellovote" class="donate">&nbsp;</a></div>
    </div>
    <div class="disclosure">
      <img src="/images/lock.svg">
      {% if page.partner and page.partner != 'fftf' %}
      <em class='partner'>&nbsp;</em>
      {% else %}
      <em>&nbsp;</em>
      {% endif %}
      <a href="#what-is-hellovote" class="learn-more">&nbsp;</a>
    </div>

  </div>
</div>
<script type="text/javascript">
window.speechBubbles = [ {% for string in page.bubbles %}
  '{{ string | replace: "'", "\\'" }}',{% endfor %}
];
{% if page.partner and page.partner != 'fftf' %}
window.partner = {
  'name': '{{page.title}}',
  'link': '{{page.partner_link}}',
  'slug': '{{page.partner}}',
  {% if page.partner_privacy_policy %}
  'privacy_policy': '{{page.partner_privacy_policy}}',
  {% endif %}
  {% if page.partner_keyword %}
  'keyword': '{{page.partner_keyword}}'
  {% endif %}
};
{% endif %}
</script>
