<style type="text/css">
.chat {
  padding-top: 0px;
}
.flex .logos {
  margin-bottom: 0px;
}
@media screen and (min-width: 640px) {
  .flex .logos .powered-by {
    top: 0px;
  }
}
.wide_photo {
  width: 100%;
  height: 0px;
  padding-bottom: 20%;
  background: url(/images/celebs/ryan_leslie_banner.jpg) center center no-repeat;
  background-size: 100% auto;
}
.wide_photo img {
  max-width: 50px;
  height: auto;
  display: inline-block;
  padding: 10px 0px 0px 10px;
}
</style>
<div class="wide_photo">
</div>
