#footer {
  text-align: center;
  padding: 20px 15px 30px 15px;

  img {
    max-width: 100%;
    width: 400px;
    height: auto;
    display: block;
    margin: 0px auto;
  }


  p {
    margin-bottom: 0px;
  }
  li {
    margin-top: 10px;
    color: rgba(255, 255, 255, .6);
    font-size: .8em;
  }
}
