.share-button {
  display: inline-block;
  border-radius: 5px;

  color: white;
  margin: 0px 5px;
  font-size: .85em;
  text-align: center;
  text-transform: uppercase;
  width: 95px;
  line-height: 30px;

  &::before {
    margin-right: 5px;
    content: " ";
    display: inline-block;
    width: 22px;
    height: 25px;
    vertical-align: middle;
  }
}
.facebook {
  .share-button;
  background: #3B579D;


  &::before {
    background: transparent url(../images/facebook.png) -7px center no-repeat;
    width: 16px;
    background-size: 22px auto;
  }
}
.twitter {
  .share-button;
  background: #55acee;

  &::before {
    background: transparent url(../images/tweet.png) center center no-repeat;
    background-size: 22px auto;
  }
}
.donate {
  .share-button;
  background: #DF2000;

  &::before {
    background: transparent url(../images/heart-cropped.png) center center no-repeat;
    background-size: 18px auto;
  }
}
