<section>
  <h1 id="what-is-hellovote">What is HelloVote?</h1>
  <p>
    HelloVote is the chat bot that registers you to vote!
    Simply enter your number on this page or text HELLO to
    <a href="sms://384387">384-387</a> and HelloVote will
    guide you through the process and take care of filling
    out the voter registration form for your state.
  </p>

  <p>
    <a href="#" class="button get-started">Get started now</a>
    <a href="https://m.me/hellovote" class="button facebook-messenger">Start on Facebook Messenger</a>
  </p>
</section>

<section>
  <h2 id="how-does-this-work">How does this work?</h2>
  <p>
    HelloVote asks you a series of questions and uses your
    answers to fill out your state’s voter registration form.
    In states that support online voter registration,
    HelloVote will submit your information and automatically
    register you to vote. In all other states, we will mail
    you pre-addressed, stamped envelope with your form that
    must be signed and mailed by you to complete your
    registration.
  </p>
  <p>
    Before submitting your registration, HelloVote will give
    you the chance to verify your information is correct.
    Importantly, do not provide false information as your
    state will consider that a criminal offense.
  </p>
</section>

<section>
  <h2 id="why-is-this-useful">Why is this useful?</h2>
  <p>
    HelloVote makes the process of registering to vote as
    easy as possible. With so much at stake in the upcoming
    election, it’s crucial that every eligible voter shows up
    and casts their ballot in November. Already registered?
    Please share this page and help get your friends
    registered!
  </p>
  <p>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.hellovote.org" class="facebook">Share</a>
    <a href="https://twitter.com/intent/tweet?text=http%3A%2F%2Fwww.hellovote.org" class="twitter">Tweet</a>
  </p>
</section>

<section>
  <h2 id="is-hellovote-private">Is HelloVote private?</h2>
  <p>
    HelloVote uses encryption to keep your data private.
    Sensitive information like state ID numbers and birthdays
    are securely encrypted. HelloVote was created by
    <a href="https://www.fightforthefuture.org">Fight for the Future</a> and
    the <a href="https://www.fftfef.org">Fight for the Future Education Fund</a>,
    which are nonprofit digital rights advocacy groups. We take your
    privacy seriously and we would never do anything shady
    with your information.
  </p>
  <p>
    <strong>For more details, see our Privacy Policies:
    <a href="https://www.fightforthefuture.org/privacy">1</a>
    <a href="https://www.fftfef.org/privacy">2</a>
    </strong>
  </p>
</section>

<section>
  <h2 id="need-help">Need help?</h2>
  <p>
    If you have any problems or suggestions,
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd6dYLxLhnyv_bq734QmXP-TV4WQkMo2dX8mOhF4NJ5dMIXqw/viewform">please use our feedback form</a>.
    We will try to help you as soon as possible! If you need
    help with our SMS chat, you may also call toll-free
    <a href="tel://18443443556">844-344-3556</a>.
  </p>
</section>
