<section data-track-content>
  <h1 id="what-is-hellovote" data-content-name="what-is-hello-vote">What is HelloVote?</h1>
  <p>
    HelloVote is the chat bot that registers you to vote!
    Simply enter your number on this page or text <span class="sms-keyword">HELLO</span> to
    <a href="sms://384387">384-387</a> and HelloVote will
    guide you through the process and help take care of filling
    out the voter registration form for your state.
    It's as simple as sending a few texts! 
    (Data &amp; message rates may apply. <strong>Text STOP to 384-387 to stop all messages</strong>.)
  </p>

  <p>
    <a href="#" class="button get-started" data-content-name="faq-get-started" data-track-content>Get started now</a>
    <a href="https://m.me/hellovote" class="button facebook-messenger" data-content-name="faq-facebook-messenger" data-track-content>Start on Facebook Messenger</a>
  </p>
</section>

<section data-track-content>
  <h2 id="how-does-this-work" data-content-name="how-does-this-work">How does this work?</h2>
  <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7iwkMo5HAoE" frameborder="0" allowfullscreen style="margin: 8px 0 24px;"></iframe>
    HelloVote asks you a series of questions by text message or Facebook
    Messenger, to help you register to vote. In several states, your answers
    submit directly to state online forms, so there are no paper forms to fill
    out! (No other service makes it this fast and easy.) In other states, we
    send you a pre-filled form by email or - if you don't have a printer - by
    mail. We include a stamped envelope, so to complete your registration you
    just have to sign and mail it.
  </p>
  <p>
    We also provide links to your state's own online registration system, if
    they have one. (Some of these aren't mobile friendly, so mailing the form
    may be easier.)
  </p>
  <p>
    Before submitting your registration, HelloVote will give you the chance to
    verify that your information is correct. Do not provide false information,
    as your state may consider that a criminal offense.
  </p>
</section>

<section data-track-content>
  <h2 id="why-is-this-useful" data-content-name="why-is-this-useful">Why is this useful?</h2>
  <p>
    We believe voting should be as easy and accessible as possible. HelloVote
    makes the process of registering to vote as easy as possible, by removing
    all the barriers. It's fast. It's 100% nonpartisan. You don't need a
    printer. You don't need a computer. You don't need stamps for mailing
    things. You don't even need a smartphone - any cellphone will work! With so
    much at stake in the upcoming election, it's crucial that every eligible
    voter shows up and casts their ballot in November. Already registered?
    Please share this page (or our shortcode 384-387) and help get your
    friends registered!
  </p>
  <p>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.hellovote.org" class="facebook">Share</a>
    <a href="https://twitter.com/intent/tweet?text=http%3A%2F%2Fwww.hellovote.org" class="twitter">Tweet</a>
  </p>
</section>

<section data-track-content>
  <h2 id="is-hellovote-private" data-content-name="is-hellovote-private">Is HelloVote private?</h2>
  <p>
    HelloVote was created by
    <a href="https://www.fightforthefuture.org">Fight for the Future</a> and
    the <a href="https://www.fftfef.org">Fight for the Future Education Fund</a>,
    which are nonprofit digital rights advocacy groups. We take your
    privacy seriously and we would never do anything shady
    with your information.
  </p>
  <p>
    <strong>For more details, see our <a href="/privacy">Privacy Policy</a> &amp; <a href="/terms">Terms of Service</a></strong>
  </p>
</section>

<section data-track-content>
  <h2 id="need-help" data-content-name="need-help">Need help?</h2>
  <p>
    If you have any problems or suggestions,
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd6dYLxLhnyv_bq734QmXP-TV4WQkMo2dX8mOhF4NJ5dMIXqw/viewform">please use our feedback form</a>.
    We will try to help you as soon as possible! If you need
    help with our SMS chat, you may also call toll-free
    <a href="tel://18443443556">844-344-3556</a>.
  </p>
</section>
