<section id="footer">
  <p>
    <img src="/images/fftf-footer-logo.png" alt="">
    EDUCATION FUND
  </p>
  <img src="/images/twilio-footer-logo.png" alt="">
  <ul>
    <li>
      <p><strong>Press:</strong> <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a></p>
    </li>
    <li>
      <p><strong>Other inquiries:</strong> <a href="mailto:team@hello.vote">team@hello.vote</a></p>
    </li>
    {% if page.partner and page.partner != "fftf" %}
      {% for partner in site.partners_iframes %}
        {% if partner.slug == page.partner %}
          <li>
            <p><a href="/embed?partner={{ page.partner }}">Embed HelloVote on your site</a></p>
          </li>
        {% endif %}
      {% endfor %}
    {% elsif page.layout == "default" %}
      <li>
        <p><a href="/embed">Embed HelloVote on your site</a></p>
      </li>
    {% endif %}
  </ul>
</section>

