<div class="overlay" id="overlay1">
  <div class="modal">
    <a class="x" href="#">×</a>
    <h2><strong>Check your phone.</strong><br/>I just sent you a text!</h2>
    <p>
      Get your friends to the polls. <em>Share this page!</em>
    </p>
    <p>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.hellovote.org" class="facebook">Share</a>
      <a href="https://twitter.com/intent/tweet?text=http%3A%2F%2Fwww.hellovote.org" class="twitter">Tweet</a>
    </p>

  </div>
</div>
